@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, html {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	padding: 0;
	margin:0;
	height: 100%;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #fc4a14;
}

/*footer {
	position: fixed;
	bottom:0;
	left: 0;
	background-color: #eee;
	width: 100%;
	color: #000;
	font-size: 11px;
	padding: 3px;
}*/

/* COLUMN 1*/

.column1 {
	width: 34%;
	height: 100%;
	float: left;
	background-color: #fff;
}
.scroll-box {
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	text-align: right;
}
.scroll-box ::-webkit-scrollbar {
    width: 12px;
}
.scroll-box ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /*border-radius: 10px;*/
} 
.scroll-box ::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.scroll-box ul{
	color: #fff;
	list-style-type: none;
	background-color: #fc4a14;
	list-style-position: inside;
	line-height: 2.1em;
	margin: 0;
	padding: 3px;
	font-size: .9em;
}
.scroll-box li {
	/*border-top: 1px solid #eee;*/
	padding-left: 5px;
}
.scroll-box li a:hover {
	/*border-top: 1px solid #eee;*/
	color: #fff;
}
.scroll-box p {
	padding-right: 15px;
}
.scroll-box h1 {
	line-height: 1em;
}
h1 {
	padding: 20px 0 22px 10px;
	font-size: 3em;
	font-weight: 400;
}
h1, h2{
	font-family: 'Playfair Display';
    margin-bottom:0;
    margin-top: 0;
}
h2.logo {
	padding: 15px 0 10px 0px;
	text-align: center;
	text-transform: uppercase;
}
h2.logo a{
	text-decoration: none;
	color: #fff;
}
h2.logo a:hover {
	text-decoration: underline;
	color: #000;
}


/* COLUMN 2*/

.column2 {
	width: 66%;
	height: 100%;
	float: left;
}
.column2 p {
	display: inline;
	font-size: .8em;
	color:#ccc;
}
.column2 .social ul li {
	float: right;
	font-size: 1.4em;
	padding-left: 20px;
}
.column2 .social span.social-text{
	color: #fff;
	font-size: .2;
}
.column2 .social .li-text {
	font-size: .8em;
	color:#ccc;
	max-width: 300px;
}
#map {
	height:93%;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 100;
	border: 1px solid #ccc;
}
h3 { 
	font-family: 'Montserrat';
	font-size: 18px;
	margin: 1px 1px 1px 0;
}
.infoWindowContent {
    font-size:  14px !important;
    font-family: 'Montserrat';
    border-top: 1px solid #ccc;
    padding-top: 10px;
    color:#666;
}
.infoWindowContent a{
    font-size: .8em;
}
.infoWindowContent a:hover{
    color:#000;
}
span.url a{
	font-size: .6em;
	color: #ccc;
	padding-left: 10px;
}
span.url a:hover {
	color: #000;
}
span.url img:hover {
	opacity: .5;
}
span.address {
	font-size: .8em;
	font-weight: 100;
	color:#ccc;
}





@media all and (max-width: 1170px) {
	h2.logo {
		font-size: 1.1em;
	}
}
@media all and (max-width: 1090px) {
	h1 {
		font-size: 2.5em;
	}
}
@media all and (max-width: 950px) {
	h1 {
		font-size: 2em;
	}
	h2.logo {
		font-size: 1em;
		text-align: right;
	}
	.scroll-box li {
		font-size: .8em;
	}
}
@media all and (max-width: 730px) {
	h1 {
		font-size: 1.8em;
	}
	h2.logo {
		font-size: .9em;
	}
	.scroll-box li {
		font-size: .7em;
	}
	.column2 .social ul li {
		padding-left: 10px;
	}
}
@media all and (max-width: 660px) {
	h1 {
		font-size: 1.6em;
	}
	h2.logo {
		display: block;
		font-size: .7em;
	}
	.scroll-box p {
		font-size: .8em;
	}
	.column2 .social ul li {
		font-size: 1.2em;
		padding-left: 8px;
	}

}
@media all and (max-width: 610px) {
	.column1 {
		width:40%;
	}
	.column2 {
		width: 60%;
	}
	.column2 .social ul li {
		font-size: 1em;
	}
	.column2 .social .li-text {
		font-size: .6em;
	}
}
@media all and (max-width: 510px) {
	.column1 {
		float: none;
		display: block;
		width: 100%;
		height: 340px;
	}
	.column2 {
		float: none;
		display: block;
		width: 100%;
	}
	#map {
		height: 280px;
	}
	.scroll-box {
		height: 100%;
		overflow: none;
	}
	h1 {
		font-size: 1.5em;
	}
	h2.logo {
		font-size: 1em;
	}
	.scroll-box li {
		font-size: 1em;
	}
	h3, .infoWindowContent p {
		font-size: .9em;
	}
	.column2 .social ul li {
		font-size: 1.4em;
		padding-left: 9px;
	}
	.column2 .social .li-text {
		font-size: .7em;
	}
}


@media all and (max-height: 620px) {
	#map {
		height: 91%;
	}
	footer {
		height: 9%;
	}
}
@media all and (max-height: 500px) {
	#map {
		height: 89%;
	}
}
@media all and (max-height: 450px) {
	#map {
		height: 40%;
	}
}*/

