
<html>
<head>
	<title>Every coworking space in greater NYC - map</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/icons.css" />
	<link rel="stylesheet" type="text/css" href="css/overlay-menu.css" />
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<nav id="bt-menu" class="bt-menu">
	<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
	<ul>
		<li><a href="http://newworker.co" target="_blank">New Worker Magazine</a></li>
		<li><a href="http://newworker.co/mag/press-list" target="_blank">Coworking Press List</a></li>
	</ul>
	<ul>
		<li><a href="http://www.twitter.com/newworkermag" class="bt-icon icon-twitter">Twitter</a></li>
		<li><a href="https://plus.google.com/115975213988217425122" class="bt-icon icon-gplus">Google+</a></li>
		<li><a href="https://www.facebook.com/newworkermag" class="bt-icon icon-facebook">Facebook</a></li>
	</ul>
</nav>
<div ng-app="mapsApp" ng-controller="MapCtrl">	
	<div class="column1">
		<div class="scroll-box">
			<ul>
				<h2 class="logo"><a href="http://newworker.co">New Worker Magazine</a></h2>
				<h1>Map of every coworking space in greater NYC</h1>
				<li>Map last updated on <span style="color:#000">2/15/16</span></li>
				<li>Data available as a JSON payload</li>
				<li>To add a space, email us the URL</li>
				<li>Let us know if something's out of date</li>
				<li><span style="color:#000"><a href="mailto:info@newworker.co">info@newworker.co</a></span></li>
			</ul>
		    <div ng-repeat="marker in markers | orderBy : 'title'">
		        <p><a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a> <span class="url"><a href="{{marker.url}}" target="_blank"><img src="images/external-link.jpg" width="14px"></a></span><br/><span class="address">{{marker.address}}</span></p>
		    </div>
		</div>
	</div>

	<div class="column2">
		<div id="map">
		</div>
		<div class="social">
			<ul>
				<li class="li-text">&copy; 2016 New Worker Magazine <br>Map last updated on 2/15/16</li>
				<li><span class="social-text">.</span></li>
				<li><a href="https://www.facebook.com/newworkermag" target="_blank" class="bt-icon icon-facebook"><span class="social-text">Facebook</span></a></li>
				<li><a href="https://plus.google.com/115975213988217425122" target="_blank" class="bt-icon icon-gplus"><span class="social-text">Google+</span></a></li>
				<li><a href="http://www.twitter.com/newworkermag" target="_blank" class="bt-icon icon-twitter"><span class="social-text">Twitter</span></a></li>
			</ul>
		</div>
	</div>
</div>
<script src="js/classie.js"></script>
<script src="js/borderMenu.js"></script>
</body>
</html>